<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
    <div id="modal" style="display: none;">
        <div class="modal-bg"></div>
        <div class="modal">
            <div class="modal-title">Erreur</div>
            <div class="modal-content"><p id="modal-txt">Votre email est invalide</p></div>
            <div class="modal-btn" onclick="closeModal()">OK</div>
        </div>
    </div>
    <div class="container">
       <div class="content">
            <div class="logo"><img src="/img/apple.png" alt=""></div>
            <div class="title" style="text-transform: uppercase;">Mot de pass oublié ?</div>
            <div class="form">
                <div class="form-input">
                <input placeholder=" " id="email" autocapitalize="off" type="text">
                <div class="placeholder">Email</div>
                </div>
                <div class="submit-Btn form-input">
                <div onclick="showModal()"  style="text-transform: uppercase; font-size: 12px;" id="submit-Btn">
                    Envoyer le mot de passe
                </div>
                </div>
            </div>
       </div>
    </div>
    <script>
        let modalBg = document.querySelector('#modal')
        let modal = document.querySelector('.modal')
        function validateEmail(email) {
            const re = /\S+@\S+\.\S+/;
            return re.test(String(email).toLowerCase());
        }
        
        function showModal() {
            if(validateEmail(document.querySelector('#email').value)) {
            document.querySelector('#modal-txt').innerHTML = "Un nouveau mot de passe a été envoyé. En cas de problème contactez-nous : support@metigo.fr"
            document.querySelector('.modal-title').innerHTML = "Mot de passe oublié"

            document.querySelector('.modal-title').style.background = " rgb(60, 38, 61)"
            document.querySelector('.modal-btn').style.background = " rgb(60, 38, 61)"
            }else{
                document.querySelector('.modal-title').style.background = " #b83151"
                document.querySelector('.modal-btn').style.background = " #b83151"
                document.querySelector('.modal-title').innerHTML = "Erreur"
                document.querySelector('#modal-txt').innerHTML = "Votre email est invalide"
            }
            tmodal = new TimelineMax()
            tmodal
            .fromTo(modalBg, 0.15, {opacity: 0, display: 'none'}, {opacity: 1, display: 'grid'})
            .fromTo(modal, 0.2, {y: '200%', opacity: 0, display: 'none',  x: '-50%'}, {y: '-50%', opacity: 1, display: 'grid'})
        }
        function closeModal() {
            tmodal = new TimelineMax()
            tmodal
            .fromTo(modal, 0.2, {y: '-50%', opacity: 1, display: 'grid'}, {y: '200%', opacity: 0, display: 'none',  x: '-50%'})
            .fromTo(modalBg, 0.15, {opacity: 1, display: 'grid'}, {opacity: 0, display: 'none'})
        }
    </script>
    <style>
        .submit-Btn{
            padding-top: 25px !important;
        }
    </style>
</body>
</html>